/* Webkit (Safari and Chrome) scrollbar */
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background: orangered; /* color of the thumb */
  border-radius: 4px; /* roundness of the thumb */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}

/* Firefox scrollbar */
/* Note: You may need to use the Gecko engine prefix for Firefox, depending on the version. */
/* For example, it could be ::-webkit-scrollbar-thumb for some versions. */
* {
  scrollbar-color: orangered #f1f1f1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.custom-nav{
  display: flex;
}
.navbar-nav-inline{
  flex-direction: row !important;
  align-items: center;
  
}
.navbar-nav-inline > li{
  padding: 0 10px;
}

.menu__profile{
  background-color: white !important;
  right: 0;
  margin-right: 20px;
  font-size: 1rem;
  box-shadow: 1px 1px 5px 2px #aaaaaa;
}
.menu__profile a{
  text-decoration: none;
  color: black !important;
}
.menu__profile-item{
  padding: 5px 20px;
  cursor: pointer;
}
.menu__profile-item:hover{
  background-color: #f1f1f1;
}
.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff; /* Light background color */
}

.loading-spinner {
  border: 6px solid #f3f3f3; /* Light gray border */
  border-top: 6px solid #3498db; /* Blue border for spinner animation */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

p {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #333; /* Dark gray text color */
}
button{
  text-transform: unset !important; 
}
input{
  margin: 0 !important;
}
.input-cus-name{
  background-color: transparent !important;
  width: 100% !important;
  font-size: 2rem;
}
.center-table {
  display: flex;
  justify-content: center;
}